<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" android:requiredSplitTypes="base__abi,base__density" android:splitTypes="" package="com.glasssutdio.wear" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" android:usesPermissionFlags="neverForLocation"/>
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
    <meta-data android:name="android.max_aspect" android:value="2.1"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <permission android:name="com.glasssutdio.wear.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.glasssutdio.wear.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/data_extraction_rules" android:extractNativeLibs="false" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:name="com.glasssutdio.wear.GlassApplication" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.GlassStudio" android:usesCleartextTraffic="true">
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.VolumeActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AILanguageActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.album.DebugActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.ai.AiShowImageDetailActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.album.EditAlbumActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AiTranslateActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.TranslateListenerActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.TranslateOneToOneActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.TranslateHistoryDetailActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.TranslateHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.ble.connect.BindGuideActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.album.ShowMediaDetailActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="ScopedStorage" android:value="true"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.ble.connect.DeviceBindActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.ble.WelcomeActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.WiFiConnectActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.NotificationsActivity"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.WebStartActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.DeviceAboutActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.GuideBgSettingActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.VideoLengthActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.ScorpionActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.VoiceActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.GlassGestureActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.glasssutdio.wear.ota.OTAActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.RestartActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.GlassSettingActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.YourGlassActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.manager.GlassBaseActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.manager.BaseSettingActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.UserGuideActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AIGuideActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AIGuideNextActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AIHelperActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.WebActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AIWakeUpActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AIAbilityActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AIModelAbilityActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.setting.RecordSettingActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.UserSplashGuideActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.EditUserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AccountSafetyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.ModifyPhoneActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.SetPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.SetPasswordConfirmActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.SafetySettingActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AccountLogoffActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.LogoffTypeActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.LogoffByCodeActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.LogoffByPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.glasssutdio.wear.home.activity.FeedbackActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.glasssutdio.wear.home.activity.FeedbackPrepareActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.glasssutdio.wear.home.activity.FeedbackSelectTypeActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.glasssutdio.wear.home.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.glasssutdio.wear.home.activity.CompleteProfileActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.glasssutdio.wear.home.activity.ForgetPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.glasssutdio.wear.home.activity.TestActivity" android:screenOrientation="portrait"/>
        <activity android:enabled="false" android:name="com.glasssutdio.wear.home.activity.VersionDownloadActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true" android:name="com.glasssutdio.wear.home.activity.SplashQcActivity" android:theme="@style/QcSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:launchMode="singleTask" android:name="com.glasssutdio.wear.MainActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.glasssutdio.wear.home.activity.AlbumSettingActivity" android:screenOrientation="portrait"/>
        <provider android:authorities="com.glasssutdio.wear.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.nl.languageid.bundled.internal.ThickLanguageIdRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.nl.languageid.internal.LanguageIdRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.glasssutdio.wear.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="com.glasssutdio.wear.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.glasssutdio.wear.com.liulishuo.okdownload" android:exported="false" android:name="com.liulishuo.okdownload.OkDownloadProvider"/>
        <activity android:exported="false" android:name="com.pairip.licensecheck.LicenseActivity"/>
        <provider android:authorities="com.glasssutdio.wear.com.pairip.licensecheck.LicenseContentProvider" android:exported="false" android:name="com.pairip.licensecheck.LicenseContentProvider"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3"/>
    </application>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
</manifest>
